In [1]:
import pandas as pd
import os
import plotly.express as px

In [2]:
file = os.path.abspath(r"C:\datasets\line.xlsx")
df = pd.read_excel(file)
df.iloc[:,2:] = df.iloc[:,2:].astype('int')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Month                     48 non-null     datetime64[ns]
 1   channel                   48 non-null     object
 2   Non unique Traffic        48 non-null     int32
 3   Unique traffic            48 non-null     int32
 4   Non unique visit product  48 non-null     int32
 5   Unique visit product      48 non-null     int32
 6   Add carts                 48 non-null     int32
 7   Orders                    48 non-null     int32
 8   Place orders              48 non-null     int32
 9   New customer order        48 non-null     int32
 10  Existing customer order   48 non-null     int32
 11  Resurrect orders          48 non-null     int32
 12  GMV                       48 non-null     int32
 13  Customer                  48 non-null     int32
 14  New customer              48 non-null     int32
 15  Existing customer         48 non-null     int32
 16  Resurrect customer        48 non-null     int32
dtypes: datetime64[ns](1), int32(15), object(1)
memory usage: 3.7+ KB

In [3]:
round(df.describe())

,Non unique Traffic,Unique traffic,Non unique visit product,Unique visit product,Add carts,Orders,Place orders,New customer order,Existing customer order,Resurrect orders,GMV,Customer,New customer,Existing customer,Resurrect customer
count,48.0,48.0,48.0,48.0,48.0,48.0,48.0,48.0,48.0,48.0,4.800000e+01,48.0,48.0,48.0,48.0
mean,2919484.0,1641862.0,1106273.0,595003.0,157470.0,79507.0,118590.0,32556.0,50899.0,34365.0,1.797441e+08,81218.0,27718.0,24841.0,27924.0
std,5365955.0,2794689.0,2332304.0,1236248.0,321214.0,168087.0,223755.0,70104.0,86930.0,67029.0,3.288235e+08,158746.0,60985.0,41963.0,54933.0
min,1413.0,984.0,890.0,669.0,55.0,7.0,31.0,3.0,15.0,11.0,6.539500e+04,24.0,3.0,10.0,10.0
25%,362290.0,239028.0,109617.0,96377.0,9313.0,2892.0,7678.0,1752.0,4266.0,1881.0,1.025548e+07,5656.0,1294.0,2402.0,1712.0
50%,793232.0,477810.0,244161.0,148604.0,40498.0,14072.0,33888.0,5442.0,14418.0,8590.0,4.744311e+07,24177.0,4730.0,8984.0,7585.0
75%,1851339.0,1179093.0,377863.0,241542.0,70409.0,35822.0,64609.0,12433.0,35473.0,20014.0,9.059517e+07,43867.0,10797.0,18966.0,16110.0
max,20014957.0,10520234.0,8173478.0,4367782.0,1130373.0,618801.0,752752.0,242993.0,285191.0,234261.0,1.368804e+09,536101.0,204882.0,138921.0,192327.0

In [4]:
round((df[:].groupby(['channel'], as_index=False).sum().sort_values(by='GMV', ascending=False)))

,channel,Non unique Traffic,Unique traffic,Non unique visit product,Unique visit product,Add carts,Orders,Place orders,New customer order,Existing customer order,Resurrect orders,GMV,Customer,New customer,Existing customer,Resurrect customer
0,Direct/Seller Push,100265622,52533578,43036219,22878536,5948284,3075042,4152525,1288519,1593892,1241204,5.073663e+09,2956566,1120167,790727,1017922
2,Feature Seller,2315543,1439114,1288256,817416,320361,160451,275825,77524,126544,70160,1.643768e+09,191225,65092,64167,60434
6,Service Icon,11688827,5397574,3514205,1260753,576703,363225,727440,107704,435803,180328,1.178568e+09,367763,69728,166092,128660
5,Power Seller Push,3547253,2148398,1597845,874206,325621,115890,277688,36237,146054,94041,3.804259e+08,207922,33351,92443,80810
7,Unpaid Media,9377875,6954004,2203352,1498060,249861,58508,149220,26655,85971,35782,2.096613e+08,97163,21174,46477,28749
4,Paid Media,7860736,6582788,1033447,899401,70479,12773,59446,10206,32931,15920,7.771503e+07,44388,9308,20635,14065
1,Feature Buyer,137063,80196,132764,78147,24531,12385,21019,5090,11060,4779,3.665048e+07,12727,3551,5166,3919
3,Other,4942328,3673741,295013,253635,42736,18045,29150,10749,10914,7298,2.726776e+07,20706,8081,6642,5809

In [5]:
import dtale
dtale.show(df)

Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "C:\Users\thong\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\dtale\views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "C:\Users\thong\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\dtale\views.py", line 3811, in get_timeseries_analysis
    data = ts_rpt.run()
  File "C:\Users\thong\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\dtale\timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "C:\Users\thong\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\dtale\timeseries_analysis.py", line 93, in run
    df = build_data(data, self.cfg)
  File "C:\Users\thong\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\dtale\timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!

2022-05-11 08:20:06,436 - ERROR    - Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "C:\Users\thong\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\dtale\views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "C:\Users\thong\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\dtale\views.py", line 3811, in get_timeseries_analysis
    data = ts_rpt.run()
  File "C:\Users\thong\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\dtale\timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "C:\Users\thong\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\dtale\timeseries_analysis.py", line 93, in run
    df = build_data(data, self.cfg)
  File "C:\Users\thong\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\dtale\timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!