In [1]:
import pandas as pd
import os
import plotly.express as px

In [2]:
file = os.path.abspath(r"C:\datasets\Line assignment.xlsx")
df = pd.read_excel(file, sheet_name='StageOverview')
# df.iloc[:,2:] = df.iloc[:,2:].astype('int')

In [3]:
df.describe().round()

,Mar 22,percent Mar,Feb 22,percent Feb,Jan 22,percent Jan,Dec 21,percent Dec,Nov 21,percent Nov,Oct 21,percent Oct
count,15.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0
mean,2668478.0,0.0,2428187.0,0.0,2239721.0,0.0,2020755.0,0.0,1814377.0,0.0,1743063.0,0.0
std,4871283.0,0.0,4480135.0,0.0,4055034.0,0.0,3656934.0,0.0,3356921.0,0.0,3130745.0,0.0
min,24470.0,0.0,22807.0,0.0,19764.0,0.0,20981.0,0.0,24194.0,0.0,25468.0,0.0
25%,152613.0,0.0,135272.0,0.0,142269.0,0.0,129025.0,0.0,112766.0,0.0,112833.0,0.0
50%,505393.0,0.0,453522.0,0.0,451987.0,0.0,377570.0,0.0,392852.0,0.0,410237.0,0.0
75%,1792290.0,1.0,1527806.0,1.0,1479958.0,1.0,1331404.0,1.0,1238780.0,1.0,1243572.0,1.0
max,16502487.0,1.0,15106704.0,1.0,13773526.0,1.0,12427615.0,1.0,11266554.0,1.0,10636827.0,1.0

In [4]:
# df[:].groupby(['channel'], as_index=False).sum().sort_values(by='GMV', ascending=False).round()

In [5]:
import dtale
dtale.show(df)

Executing shutdown due to inactivity...

2022-05-12 14:39:18,130 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...

2022-05-12 14:39:22,256 - INFO     - Executing shutdown...