In [40]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import statsmodels as sm
import os

In [41]:
data = [np.random.standard_normal() for i in range(7)]
data

[0.2587170349902634,
 -1.1682316864759146,
 1.1176023498979644,
 0.23777159242150545,
 0.22089655300543157,
 0.017411450817823398,
 0.34447086657479775]

In [42]:
c = """
This is a longer string that
spans multiple lines
"""
print("line = ",c.count("\n"))

line =  3

In [43]:
template = "{0:.2f} {1:s} are worth US${2:d}"
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

{0:.2f} means to format the first argument as a floating-point number with two decimal places.

{1:s} means to format the second argument as a string.

{2:d} means to format the third argument as an exact integer.

In [44]:
val = "español"
val_utf8 = val.encode("utf-8")
print("val_utf8 =", val_utf8, "type =", type(val_utf8))
print("decoded =", val_utf8.decode("utf-8"))

print(val.encode("latin1"))
print(val.encode("utf-16"))
print(val.encode("utf-16le"))

val_utf8 = b'espa\xc3\xb1ol' type = <class 'bytes'>
decoded = español
b'espa\xf1ol'
b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'
b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [45]:
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value

You can advance a for loop to the next iteration, skipping the remainder of the block, using the continue keyword. Consider this code, which sums up integers in a list and skips None values:

In [46]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value

The break keyword only terminates the innermost for loop; any outer for loops will continue to run:

In [47]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [48]:
x = 1

if x < 0:
    print("negative!")
elif x == 0:
    # TODO: put something smart here
    pass
else:
    print("positive!")

positive!

pass is the “no-op” (or "do nothing") statement in Python. It can be used in blocks where no action is to be taken (or as a placeholder for code not yet implemented); it is only required because Python uses whitespace to delimit blocks:

In [49]:
print(list(range(0, 20, 2)))
print(list(range(5, 0, -1)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[5, 4, 3, 2, 1]

In [50]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

the re standard library module for regular expressions

In [51]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

attempt_float("1.2345")
attempt_float("something")

'something'

In [52]:
path = os.path.abspath(r"C:\datasets\all_games.csv")
file = os.path.abspath(r"C:\datasets\temp.csv")
f = open(path, mode="w")
def write_to_file(file, df):
    pd.df.to_csv(file)

try:
    write_to_file(f)
except:
    print("Failed")
else:
    print("Succeeded")
finally:
    f.close()

Failed

- r	Read-only mode
- w	Write-only mode; creates a new file (erasing the data for any file with the same name)
- x	Write-only mode; creates a new file, but fails if the file path already exists
- a	Append to existing file (create the file if it does not already exist)
- r+	Read and write
- b	Add to mode for binary files (i.e., "rb" or "wb")
- t	Text mode for files (automatically decoding bytes to Unicode). This is the default if not specified.

In [53]:
my_arr = np.arange(1_000_000)
my_list = list(range(1_000_000))

%timeit my_arr2 = my_arr * 2
%timeit my_list2 = [x * 2 for x in my_list]

2.88 ms ± 302 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
131 ms ± 6.39 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [54]:
x = np.array([[1., 2., 3.], [4., 5., 6.]])
y = np.array([[6., 23.], [-1, 7], [8, 9]])
print(x.dot(y))
print(np.dot(x, y))

[[ 28.  64.]
 [ 67. 181.]]
[[ 28.  64.]
 [ 67. 181.]]

x.dot(y) is equivalent to np.dot(x, y)

In [55]:
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
obj3 = pd.Series(sdata)
print(obj3)
obj3.to_dict()
print(obj3)

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64
Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [56]:
data = {"state": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
        "year": [2000, 2001, 2002, 2001, 2002, 2003],
        "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
frame2 = pd.DataFrame(data, columns=["year", "state", "pop", "debt"])
frame2.to_numpy()
print(frame2)

   year   state  pop debt
0  2000    Ohio  1.5  NaN
1  2001    Ohio  1.7  NaN
2  2002    Ohio  3.6  NaN
3  2001  Nevada  2.4  NaN
4  2002  Nevada  2.9  NaN
5  2003  Nevada  3.2  NaN

In [57]:
frame = pd.DataFrame(np.random.standard_normal((4, 3)), 
                    columns=list("bde"),
                    index=["Utah", "Ohio", "Texas", "Oregon"])
print(frame)

def f1(x):
    return x.max() - x.min()

print(frame.apply(f1))
print(frame.apply(f1, axis="columns"))

def my_format(x):
    return f"{x:.2f}"

print(frame.applymap(my_format))

               b         d         e
Utah    0.849916  1.421842 -1.591056
Ohio   -1.142974 -1.879305  0.062654
Texas   0.448321  0.679670 -1.025765
Oregon  0.943994 -1.050893 -1.019675
b    2.086968
d    3.301147
e    1.653710
dtype: float64
Utah      3.012898
Ohio      1.941959
Texas     1.705435
Oregon    1.994887
dtype: float64
            b      d      e
Utah     0.85   1.42  -1.59
Ohio    -1.14  -1.88   0.06
Texas    0.45   0.68  -1.03
Oregon   0.94  -1.05  -1.02

In [58]:
# import os

# file = os.path.abspath(r"C:\datasets\Line assignment.xlsx")
# df = pd.read_excel(file, sheet_name='StageOverview')

file_y_price = os.path.abspath(r"C:\datasets\yahoo_price.pkl")
file_y_volume = os.path.abspath(r"C:\datasets\yahoo_volume.pkl")

price = pd.read_pickle(file_y_price)
volume = pd.read_pickle(file_y_volume)

returns = price.pct_change()

print("correlation:", returns["MSFT"].corr(returns["IBM"]))
print("covarience:", returns["MSFT"].cov(returns["IBM"]))

correlation: 0.49976361144151155
covarience: 8.870655479703546e-05

In [59]:
returns.corr()

          AAPL      GOOG       IBM      MSFT
AAPL  1.000000  0.407919  0.386817  0.389695
GOOG  0.407919  1.000000  0.405099  0.465919
IBM   0.386817  0.405099  1.000000  0.499764
MSFT  0.389695  0.465919  0.499764  1.000000

In [60]:
returns.corrwith(returns["IBM"])

AAPL    0.386817
GOOG    0.405099
IBM     1.000000
MSFT    0.499764
dtype: float64

In [61]:
returns.corrwith(volume)

AAPL   -0.075565
GOOG   -0.007067
IBM    -0.204849
MSFT   -0.092950
dtype: float64

In [62]:
# frame = pd.read_csv("examples/ex1.csv")
# frame.to_pickle("examples/frame_pickle")
# pd.read_pickle("examples/frame_pickle")

pickle is only recommended as a short-term storage format. The problem is that it is hard to guarantee that the format will be stable over time; an object pickled today may not unpickle with a later version of a library. pandas has tried to maintain backward compatibility when possible, but at some point in the future it may be necessary to “break” the pickle format.

In [63]:
File = os.path.abspath(r"C:\datasets\Line assignment.xlsx")
xlsx = pd.ExcelFile(File)
xlsx.sheet_names

['TrafficChannelFixed',
 'PivotTraffic',
 'Regression',
 'StageOverview',
 'ChTrafficPage',
 'Str1Fig',
 'PivotPage',
 'ChVisitorStage',
 'ChCusomerStage',
 'ConversionRate',
 'TrafficChannel']

In [66]:
xlsx = xlsx.parse(sheet_name="TrafficChannelFixed", index_col=0)
df = pd.DataFrame(xlsx)
df.head()

,channel,Non unique Traffic,Unique traffic,Repeated Visit Traffic Rate,Non unique visit product,Unique visit product,Unique Drop-off,Repeated Visit Product Rate,Visit Rate,Add carts,...,Value per Cart,Value per Order,Value per Place order,Customer,Cart per Customer,Order per Customer,Conversion rate (Traffic/Customer),New customer,Existing customer,Resurrect customer
Month,,,,,,,,,,,,,,,,,,,,,
2021-10-01,Direct/Seller Push,15328548.3,7993160.5,1.917708,6831857.5,3598925.2,-4394235.3,1.898305,0.450251,926718.0,...,849.463207,1712.586554,1098.263308,488527.0,1.896964,1.467226,0.061118,204882.6,133188.9,149773.0
2021-10-01,Service Icon,1356824.3,695981.0,1.949513,336819.6,148694.0,-547287.0,2.265186,0.213647,62088.0,...,1381.457014,2305.243947,1360.126719,40653.6,1.527245,1.551196,0.058412,9101.3,17491.5,13997.1
2021-10-01,Feature Seller,304528.9,189560.8,1.606497,172854.5,111677.8,-77883.0,1.547796,0.589140,44129.8,...,1285.326165,2471.909920,1612.047661,27952.6,1.578737,1.258767,0.147460,11048.7,9161.1,7715.5
2021-10-01,Power Seller Push,375918.4,250411.2,1.501204,166723.7,100555.0,-149856.2,1.658035,0.401560,35448.4,...,1200.189306,3424.017786,1305.415317,24217.7,1.463739,1.345751,0.096712,4525.3,11082.5,8607.3
2021-10-01,Unpaid Media,1517633.0,1178791.9,1.287448,346746.4,253386.9,-925405.0,1.368446,0.214955,33628.4,...,557.991457,3814.514535,1513.010797,9200.1,3.655221,1.348029,0.007805,2525.9,3647.8,3018.6

In [67]:
import requests

url = "https://api.github.com/repos/pandas-dev/pandas/issues"

resp = requests.get(url)
resp.raise_for_status()
resp

In [ ]:
data = pd.Series([1., np.nan, 3.5, np.nan, 7])

data.fillna(data.mean())
data.duplicated()
data.drop_duplicates()

In [68]:
import re

text = "foo    bar\t baz  \tqux"

re.split(r"\s+", text)

['foo', 'bar', 'baz', 'qux']

In [69]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com"""
pattern = r"[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}"
regex = re.compile(pattern, flags=re.IGNORECASE)
print(regex.findall(text))

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [70]:
df1 = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "b"], "data1": pd.Series(range(6), dtype="Int64")})
df2 = pd.DataFrame({"key": ["a", "b", "a", "b", "d"], "data2": pd.Series(range(5), dtype="Int64")})

pd.merge(df1, df2, on="key", how="left")

   key  data1  data2
0    b      0      1
1    b      0      3
2    b      1      1
3    b      1      3
4    a      2      0
5    a      2      2
6    c      3   <NA>
7    a      4      0
8    a      4      2
9    b      5      1
10   b      5      3

In [ ]:
from datetime import datetime

fig, ax = plt.subplots()

data = pd.read_csv("examples/spx.csv", index_col=0, parse_dates=True)
spx = data["SPX"]

spx.plot(ax=ax, color="black")

crisis_data = [
    (datetime(2007, 10, 11), "Peak of bull market"),
    (datetime(2008, 3, 12), "Bear Stearns Fails"),
    (datetime(2008, 9, 15), "Lehman Bankruptcy")
]

for date, label in crisis_data:
    ax.annotate(label, xy=(date, spx.asof(date) + 75),
                xytext=(date, spx.asof(date) + 225),
                arrowprops=dict(facecolor="black", headwidth=4, width=2,
                                headlength=4),
                horizontalalignment="left", verticalalignment="top")

# Zoom in on 2007-2010
ax.set_xlim(["1/1/2007", "1/1/2011"])
ax.set_ylim([600, 1800])

ax.set_title("Important dates in the 2008-2009 financial crisis")